body{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
div{
    padding: 30px;
    border: solid white;
    width: 500px;
    height: 250px;
    background-color: teal;

}